<!DOCTYPE html5>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>TechShare</title>
    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
     <link rel="shortcut icon" type="image/png" href="/assets/img/logo3.png"/>
<link rel="shortcut icon" type="image/png" href="/assets/img/logo3.png"/>
  </head>
  <body class="mainHome">
    <div class="m-auto container centereddiv ">
    <center><h2 class="text-light fonts">Welcome To   <spand><img src="/assets/img/logo3.png"> TechShare</spand></center> 
    <center><a href="/articles/all"><button class="btn btn-outline-info text-light"><b>Explore Now</b></button></a> </h2></center>
    <!--<button id="test">Show Article Previews</button>-->
  
    <!--<div id="list"></div>-->
    </div>
  </body>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="vendor/ejs_production.js"></script>
  <script>
  $("#test").click(function(){
    $.get("/api/articles", function(data, status){
      var html = new EJS({url: 'views/article/list.ejs'}).render({articles:data});
    $("#list").html(html);
    });
  });
  </script>
</html>
