<% include ../partials/header.ejs %>
 
<div class="container centereddiv2">
  
  <div class="card">
  <div class="card-header">
  <center><h2><img src="/assets/img/logo3.png"> Sign In</h2></center>
  </div>
  <div class="card-body">
    <input class="form-control mt-2" id="email" type="email" placeholder="Enter Email"/>
    <input class="form-control mt-2 mb-2" id="password"  placeholder="Enter Password" type="password"/>
    <div>
    <button class="btn btn-primary btn-block" id="submit">Login</button>
    </div>
    <br/>
    <div id="error"></div>
  </div>
</div>
    </div>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#email").change(function(event){
      user.email=$("#email").val();
    });
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#submit").click(function(event){
      $.ajax({
        method: 'POST',
        url: "/auth/signin",
        data: user
      }).done(function(response){
        console.log(response);
        window.location.replace('/');
      }).fail(function(response){
        console.log(response);
        $("#error").text("Something went wrong! Try again.");
      });
    });
  </script>
</html>
