 <% include ../partials/header.ejs %>
 
 
 <div class="container centereddiv2">
  
  <div class="card">
  <div class="card-header">
  <center><h2><img src="/assets/img/logo3.png"> Sign Up</h2></center>
  </div>
  <div class="card-body">
    <label> Name: </label>
    <input class="form-control" id="name" type="text" placeholder="name"/>
    <label> Email: </label>
    <input class="form-control" id="email" type="email" placeholder="email"/>
    <label> Username: </label>
    <input  class="form-control"id="username" type="text" placeholder="username"/>
    <label> Password: </label>
    <input class="form-control" id="password" type="password"/>
    <div class="mt-2">
    <button class="btn btn-success btn-block" id="submit" >Register Now</button>
    </div>
    <br/>
    <div id="error"></div>
  </div>
</div>
    </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#submit").click(function(event){
      user.name=$("#name").val();
      user.username=$("#username").val();
      user.email=$("#email").val();
      user.password=$("#password").val();
      $.ajax({
        method: 'POST',
        url: "/auth/signup",
        data: user
      }).done(function(response){
        window.location.replace('/articles/all');
      }).fail(function(response){
        $("#error").text("Something went wrong! Try again.");
      });
    });
  </script>
</html>
